* {
    margin: 0px;
    padding: 0px;
    font-family: "icomoon";
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

/* 主题 */
:root{
    /* 主题背景图片 */
    --background-image: url('https://img.sakuratools.top/bg.png@0x0x0x80');
    /* 页面加载时的缓冲颜色 */
    --background-color: black;
    /* 界面颜色 */
    --main-background-color: #ff4e4e;
    /* 副界面颜色 */
    --two-background-color: white;
    /* 界面阴影颜色 */
    --box-shadow: rgb(39, 38, 38);
    /* 主字体颜色 */
    --main-font-color: white;
    /* 副字体颜色 */
    --two-font-color: orange;
    /* 链接字体颜色 */
    --hover-font-color: pink;
    /* 输入框颜色 */
    --input-color: black;
    /* 主题透明 */
    --opacity: 0.8;
}

div {
    white-space: nowrap;
}

body {
    background-image: var(--background-image);
    background-color: var(--background-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width:100%;
}

/* 统一链接样式 */
a {
    color: var(--two-font-color);
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

a:hover{
    color: var(--hover-font-color);
}